{% extends 'base.html'%}
{% block head%}
<style>
  body{
    background-image: url("../static/img/americana.png");
    background-size:cover;
    background-repeat: no-repeat;
    height:100%;
  }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center  p-2 h3 mb-3">{% if updateproduct %} Update {% else %}Add a{% endif %} product</div>     
                {% from "includes/_formhelpers.html" import render_field %}
                <form action="" method="POST" enctype="multipart/form-data">
                <div>
                    {{ render_field(form.name, class="form-control") }}
                    <label for="brand"><b>Add a brand</b></label>
                     <select name="brand" id="brand" class="form-control" required>
                        {% if getproduct %}
                        <option value="{{getproduct.brand_id}}" style="display: none;">{{getproduct.brand.name}}</option>
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.name}}</option>
                        {% endfor %}
                       {% else %}
                     <option value=""> Select A brand</option>
                     {% for brand in brands %}
                     <option value="{{brand.id}}">{{brand.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>
                
                <label for="category"><b>Add a category</b></label>
                    <select name="category" id="category" class="form-control" required>
                    {% if getproduct %}
                      <option value="{{getproduct.category_id}}" style="display: none;">{{getproduct.category.name}}</option>
                      {% for category in categories %}
                      <option value="{{category.id}}">{{category.name}}</option>
                      {% endfor %}
                     {% else %}
                     <option value=""> Select A category</option>
                     {% for category in categories %}
                     <option value="{{category.id}}">{{category.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>
                   
                    {{ render_field(form.price, class="form-control") }}
                    {{ render_field(form.quantity, class="form-control") }}
                    {{ render_field(form.discount, class="form-control") }}
                    {{ render_field(form.color, class="form-control") }}
                    {{ render_field(form.description, class="form-control", rows="5") }}
            
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">{{ render_field(form.image_1) }}</div>   
                    </div>
                    <input type="submit" value="{% if product %}Update {% else %}Add a{% endif %} product" class="btn btn-info mt-3">
                    <a href="{{url_for('admin')}}" class="btn btn-warning mt-3" style="float:right"> Cancel </a>
                </div>
            </div>
      <div class="col-md-1"></div>
    </div>
</div>



{% endblock %}