{% extends 'base.html'%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if brands %}
                <div class="text-center  p-2 h3 mb-3">{% if updatebrand %} Update {% else %}Add a {% endif %} brand</div>     
                <form method=post>
                <div>
                 <form action="" method="post">
                     {% if updatebrand %}
                     <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                     <input type="submit" value="Update brand" class="btn btn-info mt-3">
                     {% else %}
                     <input type="text" name="brand" class="form-control">
                     <input type="submit" value="Add a brand" class="btn btn-info mt-3">
                     {% endif %}
                     <a href="{{url_for('brands')}}" class="btn btn-warning mt-3" style="float:right"> Cancel </a>
                 </form>
                </div>
                </form>
                {% else %}
                <div class="text-center  p-2 h3 mb-3"></div>     
                <form method=post>
                <div>
                 <form action="" method="post">
                     {% if updatecategory %}
                     <input type="text" name="category" class="form-control" value="{{updatecategory.name}}">
                     <input type="submit" value="Update category" class="btn btn-info mt-3">
                     {% else %}
                     <input type="text" name="category" class="form-control">
                     <input type="submit" value="Add category" class="btn btn-info mt-3">
                     {% endif %}
                     <a href="{{url_for('category')}}" class="btn btn-warning mt-3" style="float:right"> Cancel </a>
                 </form>
                </div>
                </form>
                {% endif %}
            </div>
      <div class="col-md-3"></div>
    </div>
</div>



{% endblock %}