{% extends 'base.html' %}
{% block head%}
<style>
  body{
    background-image: url("../static/img/users.png");
    background-size:100%;
    background-repeat: no-repeat;
    height:100%;
  }
</style>
{% endblock %}
{% block body %}

<div class="container mt-3"></div>
     <table class="table table-sm table-condensed">
        <h3 style="text-align: center;">CUSTOMER DETAILS</h3>
         <thead>
           <th>No.</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Username</th>
           <th>Email</th>
           <th>Country</th>
           <th>City</th>
           <th>Contact</th>
           <th>Address</th>
           <th>Zipcode</th>
         </thead>
         <tbody>
           {% for customer in customers %}
           <tr>
             <td>{{loop.index}}</td>
             <td>{{customer.first_name}}</td>
             <td>{{customer.last_name}}</td>
             <td>{{customer.username}}</td>
             <td>{{customer.email}}</td>
             <td>{{customer.country}}</td>
             <td>{{customer.city}}</td>
             <td>{{customer.contact}}</td>
             <td>{{customer.address}}</td>
             <td>{{customer.zipcode}}</td>
            {% endfor %}
           </tr>
        </tbody>
        <a href="{{url_for('callcenter')}}" class="btn btn-warning btn-sm" style="float:right"> Back </a>


{% endblock%}